apiVersion: v1
kind: ConfigMap
metadata:
  name: mysql-config
  namespace: fiap
data:
  my.cnf: |
    [mysqld]
    innodb_buffer_pool_size=2G
    innodb_redo_log_capacity=1G
    innodb_flush_log_at_trx_commit=2
    max_connections=200
