apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: restaurante-acme-secrets
  namespace: fiap
spec:
  refreshInterval: 10m
  secretStoreRef:
    name: cluster-secrets
    kind: ClusterSecretStore
  dataFrom:
    - extract:
        key: fiap/restaurante-acme
